// variable overrides

// $body-bg: #617433;
// $body-color: #000;
// $body-bg: #cccccc;
// $body-bg: #cedcaa;
// $body-bg: #90a44c;
// $body-bg: #c00c04; //red
$primary:       #90a44c;
$secondary:     #dddddd;
// $success:       $green !default;
// $info:          $cyan !default;
$info:          #eef5ce;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #fffcfc;
$dark:          #90a44c;;

$body-bg: #eef5ce;
// $body-color: #000;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// adjust top level of menu-img when scrolling to anchor by clicking menu
.menu-img {
    scroll-margin-top: 50px;
}

// style navbar of the /menu path
.menu .navbar {
    background-color: $light;
    border-bottom: 1px solid $dark;
}

// reduce size of images of the menu on large screens
/* xs */
.menu-img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/* sm */
@media (min-width: 768px) {
    .menu-img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;  
    }
}
/* md */
@media (min-width: 992px) {
    .menu-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;        
    }
}
/* lg */
@media (min-width: 1200px) {
    .menu-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#offcanvasNavbar {
    background-color: $info;
}

.offcanvas-header {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid black;
}

.offcanvas-body {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid black;
}

// navigation links in offcanvas
.offcanvas-body .nav-link {
    transition: .4s;
}
.offcanvas-body .nav-link:hover {
    box-shadow: 0 3px 0px $primary;
    font-weight: 600!important;
}

// navigation links in normal navbar
.navigation .nav-link {
    transition: .4s;
}
.navigation .nav-link:hover {
    box-shadow: 0 3px 0px $body-bg;
    font-weight: 500!important;
}

// navigation links in menu (carte des plats)
.menu .nav-link {
    transition: .4s;
}
.menu .nav-link:hover {
    box-shadow: 0 3px 0px $primary;
    font-weight: 500!important;
}

.home img.storefront {
    border-radius: 5%;
}
