// variable overrides

// $body-bg: #617433;
// $body-color: #000;
// $body-bg: #cccccc;
// $body-bg: #cedcaa;
// $body-bg: #90a44c;
// $body-bg: #c00c04; //red
$primary:       #90a44c;
$secondary:     #cccccc;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #fffcfc;
$dark:          #90a44c;;

// $body-bg: #617433;
// $body-color: #111;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// adjust top level of menu-img when scrolling to anchor by clicking menu
.menu-img {
    scroll-margin-top: 50px;
}

// style navbar of the /menu path
.menu .navbar {
    background-color: $light;
    border-bottom: 1px solid $dark;
}

// reduce size of images of the menu on large screens
/* xs */
.menu img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/* sm */
@media (min-width: 768px) {
    .menu img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;  
    }
}
/* md */
@media (min-width: 992px) {
    .menu img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;        
    }
}
/* lg */
@media (min-width: 1200px) {
    .menu img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

// gradient on main navbar
// .navigation nav {
//     background-image: var(--bs-gradient);
// }
